@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  margin: 0px;
  font-family: "Inter", sans-serif;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 80px;
  background-color: #ffffff;
  position: fixed;
  height: 100%;
  overflow: auto;
  z-index: 1000;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-align: center;
  text-decoration: none;
}
 
/* .sidebar a.active {
  background-color: #4CAF50;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
} */

div.content {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 1px 16px;
  min-height: 100vh;
}

.sider-bottom {
  position: absolute;
  bottom: 0;
}

.links {
  margin: 0px;
  top: auto;
  right: 10px;
  bottom: 22px;
  left: auto;
  position: fixed;
};

.links p {
  writing-mode: vertical-lr;
}

.links p a {
  padding: 10px;
  text-decoration: none;
}

.vertical-text {
  writing-mode: vertical-lr;
}

.hero-div {
  padding-top: 50px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: fixed;
    background-color: transparent;
    opacity: 0.95;
  }
  .sidebar a {float: left;}
  div.content {
    margin-left: 0;
    padding-top: 70px;
  }

  .sider-bottom {
    position: absolute;
    right: 0;
  }

  .links {
    margin: 0px;
    top: auto;
    right: 22vw;
    bottom: 22px;
    left: auto;
    position: fixed;
    opacity: 0.95;
  }

  .links p {
    writing-mode: horizontal-tb;
  }
  
  .links p a {
    padding: 10px;
  }
  
  .vertical-text {
    writing-mode: horizontal-tb;
  }

  .hero-div {
    padding-top: 10px;
  }
}

.blink-div {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* Scrollbar customization */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a; 
}

::-webkit-scrollbar-thumb {
  background: #000000; 
}