.post-title {
    border-bottom: "2px solid #fff";
}

.post-body img {
    max-width: 100%;
}

.post-body a {
    text-decoration: none !important;
    background-color: #f3f169;
    color: #000000;
}